<!DOCTYPE html>
<html class = "no-js">
  <head>
    <title> Cadastre-se | Gerenciamento de Patrimônios </title>

    <meta charset = "UTF-8">
    <meta name = "description" content = "">
    <meta name = "viewport" content = "width=device-width">

    <link rel = "icon" href = "../public/images/logo-login.png" type = "image/png">

    <link rel = "stylesheet" href = "http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,600,700">
    <link rel = "stylesheet" href = "http://fonts.googleapis.com/css?family=Oswald:400,300,700">

    <link rel = "stylesheet" href = "../public/javascripts/libs/css/ui-lightness/jquery-ui-1.9.2.custom.min.css">

    <link rel = "stylesheet" href = "../public/stylesheets/font-awesome.min.css">
    <link rel = "stylesheet" href = "../public/stylesheets/bootstrap.min.css">
    <link rel = "stylesheet" href = "../public/stylesheets/target-admin.css">
    <link rel = "stylesheet" href = "../public/stylesheets/custom.css">

    <script src = "../public/javascripts/libs/jquery-1.10.1.min.js"></script>
    <script src = "../public/javascripts/libs/jquery-ui-1.9.2.custom.min.js"></script>
    <script src = "../public/javascripts/libs/bootstrap.min.js"></script>
    <script src = "../public/javascripts/target-admin.js"></script>
  </head>

  <body class = "account-bg">
    <div class = "navbar">
      <div class = "container">
        <div class = "navbar-header">

          <button type = "button" class = "navbar-toggle" data-toggle = "collapse" data-target = ".navbar-collapse">
            <i class = "fa fa-cogs"></i>
          </button>

          <a class = "navbar-brand navbar-brand-image" href = "index.ejs">
            <img src = "../public/images/logo.png" alt = "Site Logo">
          </a>

        </div>

        <div class = "navbar-collapse collapse">
          <ul class = "nav navbar-nav navbar-right">
            <li>
              <a href = "index.ejs">
                <i class = "fa fa-angle-double-left"></i>
                &nbsp; Voltar à Página Principal
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <hr class = "account-header-divider">

    <div class = "account-wrapper">
      <div class = "account-logo">
        <img src = "../public/images/logo-login.png" alt = "Logo Site">
      </div>

      <div class = "account-body">

        <h3 class = "account-body-title"> Inicie com uma Conta Grátis. </h3>

        <h5 class = "account-body-subtitle"> Cadastre-se em menos de 30 segundos. Sem uso do cartão de crédito ;) </h5>

        <form class = "form account-form" method = "POST" action = "">

          <div class = "form-group">
<<<<<<< HEAD
            <input type = "text" class = "form-control" id = "" placeholder = "Nome Completo" maxlength = "100" tabindex = "1" required>
          </div> <!-- /.form-group -->

          <div class="form-group">
            <input type = "text" class = "form-control" id = "" placeholder = "Login" maxlength = "20" tabindex = "2" required>
          </div> <!-- /.form-group -->

          <div class = "form-group">
            <input type = "password" class = "form-control" id = "" placeholder = "Senha" maxlength = "20" tabindex = "3" required>
=======
            <input type = "text" class = "form-control" id = "" placeholder = "Nome Completo" tabindex = "1" required>
          </div> <!-- /.form-group -->

          <div class="form-group">
            <input type = "text" class = "form-control" id = "" placeholder = "Login" tabindex = "2" required>
          </div> <!-- /.form-group -->

          <div class = "form-group">
            <input type = "password" class = "form-control" id = "" placeholder = "Senha" tabindex = "3" required>
>>>>>>> b719931773e8210656102e346d2636ee4d8df72f
          </div> <!-- /.form-group -->

          <div class = "form-group">
            <button type = "submit" class = "btn btn-secondary btn-block btn-lg" tabindex = "4">
              Cadastrar &nbsp; <i class = "fa fa-play-circle"></i>
            </button>
          </div> <!-- /.form-group -->

        </form>

      </div> <!-- /.account-body -->

      <div class = "account-footer">
        <p>
          Já possui uma conta? &nbsp;
          <a href = "login.ejs"> Então faça seu login! </a>
        </p>
      </div> <!-- /.account-footer -->

    </div> <!-- /.account-wrapper -->
  </body>
</html>
