<!DOCTYPE html>
<html class = "no-js">
  <head>
    <title> Esqueceu a Senha | Gerenciamento de Patrimônios </title>
    <% include partials/head %>
  </head>

  <body class = "account-bg">
    <% include partials/headerSecondary %>

    <div class = "account-wrapper">
      <div class = "account-logo">
        <img src = "/images/logo-login.png" alt = "Logo Site">
      </div>

      <div class = "account-body">
        <h3 class = "account-body-title"> Consulte sua Senha. </h3>
        <h5 class = "account-body-subtitle"> Digite seu nome completo e seu usuário para ter acesso a sua senha... </h5>

        <form class = "form account-form" method = "POST" action = "">

          <div class = "form-group">
            <input type = "text" class = "form-control" name = "nome" placeholder = "Nome Completo" maxlength = "100" tabindex = "1" required>
          </div> <!-- /.form-group -->

          <div class="form-group">
            <input type = "text" class = "form-control" name = "usuario" placeholder = "Usuário" maxlength = "20" tabindex = "2" required>
          </div> <!-- /.form-group -->

          <div class = "form-group">
            <button type = "submit" data-toggle = "modal" href = "#basicModal" class = "btn btn-secondary btn-block btn-lg" tabindex = "3">
              Buscar &nbsp; <i class = "fa fa-search"></i>
            </button>
          </div> <!-- /.form-group -->

        </form>
      </div> <!-- /.account-body -->
    </div> <!-- /.account-wrapper -->

    <div id = "basicModal" class = "modal fade">
      <div class = "modal-dialog">
        <div class = "modal-content">

          <div class = "modal-header">
            <button type = "button" class = "close" data-dismiss = "modal" aria-hidden = "true"> &times; </button>
            <h3 class = "modal-title"> BUSCA DA SENHA </h3>
          </div>

          <div class = "modal-body">
            <p>
              Esse é o resultado da sua busca </br>
              Por questões de segurança não podemos divulgar sua senha completa.
             </p>

            <center><h3>  SE**A </h3></center>
          </div>

          <div class = "modal-footer">
            <button type = "button" class = "btn btn-primary" data-dismiss = "modal"> FECHAR </button>
          </div>

        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
  </body>
</html>
