	<!DOCTYPE html>
<html class = "no-js">
  <head>
    <title> Home - Gerenciamento de Patrimônios </title>

    <meta charset = "UTF-8">
    <meta name = "description" content = "">
    <meta name = "viewport" content = "width=device-width">

    <link rel = "icon" href = "../public/images/logo-login.png" type = "image/png">

    <link rel = "stylesheet" href = "http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,600,700">
    <link rel = "stylesheet" href = "http://fonts.googleapis.com/css?family=Oswald:400,300,700">

    <link rel = "stylesheet" href = "../public/javascripts/libs/css/ui-lightness/jquery-ui-1.9.2.custom.min.css">

    <link rel = "stylesheet" href = "../public/stylesheets/font-awesome.min.css">
    <link rel = "stylesheet" href = "../public/stylesheets/bootstrap.min.css">
    <link rel = "stylesheet" href = "../public/stylesheets/target-admin.css">
    <link rel = "stylesheet" href = "../public/stylesheets/custom.css">

    <script src = "../public/javascripts/libs/jquery-1.10.1.min.js"></script>
    <script src = "../public/javascripts/libs/jquery-ui-1.9.2.custom.min.js"></script>
    <script src = "../public/javascripts/libs/bootstrap.min.js"></script>
    <script src = "../public/javascripts/target-admin.js"></script>
  </head>

  <body>
    <div class = "navbar">
      <div class = "container">
          
        <div class = "navbar-header">
          <a class = "navbar-brand navbar-brand-image" href = "index.ejs">
            <img src = "../public/images/logo.png" alt = "Site Logo">
          </a>
        </div>
        
        <ul class = "nav navbar-nav navbar-right">
          <li class = "dropdown navbar-profile">
            <a class = "dropdown-toggle" data-toggle = "dropdown" href = "javascript:;">
              <i class = "fa fa-user nav-icon"></i> Bem-Vindo Nome_Usuário &nbsp;
              <i class="fa fa-caret-down"></i>
            </a>

            <ul class = "dropdown-menu" role = "menu">
              <li>
                <a href = "javascript:;">
                  <i class = "fa fa-sign-out"></i> 
                  &nbsp;&nbsp; Logout
                </a>
              </li>
            </ul>

          </li>
        </ul>

      </div> <!-- /.container -->
    </div> <!-- /.navbar -->

    <div class = "mainbar">
      <div class = "container">

        <button type = "button" class = "btn mainbar-toggle" data-toggle = "collapse" data-target = ".mainbar-collapse">
          <i class = "fa fa-bars"></i>
        </button>

        <div class = "mainbar-collapse collapse">
          <ul class = "nav navbar-nav mainbar-nav">

            <li class = "active">
              <a href = "index.ejs">
                <i class = "fa fa-home"></i>
                Home...
              </a>
            </li>

            <li class = "">
              <a href = "pesquisa.ejs">
                <i class = "fa fa-search"></i>
                Pesquisar...
              </a>
            </li>

            <li class = "dropdown">
              <a href = "#about" class = "dropdown-toggle" data-toggle = "dropdown" data-hover = "dropdown">
                <i class = "fa fa-plus-circle"></i>
                Cadastro
                <span class = "caret"></span>
              </a>

              <ul class = "dropdown-menu">   
                <li><a href = "cad-equipamento.ejs"><i class = "fa fa-desktop nav-icon"></i> Equipamentos </a></li>
                <li><a href = "cad-sala.ejs"><i class = "fa fa-building-o nav-icon"></i> Salas/Laboratórios </a></li>            
              </ul>
            </li>

            <li class = "dropdown">
              <a href = "#contact" class = "dropdown-toggle" data-toggle = "dropdown" data-hover = "dropdown">
                <i class = "fa fa-external-link"></i>
                Opções Extras
                <span class = "caret"></span>
              </a>

              <ul class = "dropdown-menu" role = "menu">
                <li>
                  <a href = "movimentacao.ejs">
                    <i class = "fa fa-exchange nav-icon"></i> 
                    Mover Equipamento
                  </a>
                </li>     

                <li>
                  <a href = "emprestimos.ejs">
                    <i class = "fa fa-arrow-right nav-icon"></i> 
                    Empréstimos
                  </a>
                </li> 

                <li class = "divider"></li>

                <li class = "dropdown-submenu">
                  <a tabindex = "-1" href = "#">
                    <i class = "fa fa-list-alt nav-icon"></i> 
                    Relatórios
                  </a>

                  <ul class = "dropdown-menu">
                    <li>
                      <a href = "relatorio.ejs">
                        <i class = "fa fa-list-alt nav-icon"></i> 
                        Relatório Geral
                      </a>
                    </li>

                    <li>
                      <a href = "historico.ejs">
                        <i class = "fa fa-clock-o nav-icon"></i> 
                        Histórico
                      </a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>

            <li style = "float: right">
              <a href = "login.ejs">
                <i class = "fa fa-sign-in"></i> Login
              </a>
            </li>

            <li style = "float: right">
              <a href = "cadastro.ejs">
                <i class = "fa fa-user-plus"></i> Cadastro
              </a>
            </li>

          </ul>
        </div>

      </div> <!-- /.container -->
    </div> <!-- /.mainbar -->

    <div class = "container">
      <div class = "content">
        <div class = "content-container">

          <div class = "content-header">
            <h2 class = "content-header-title"> Seja bem-vindo ao sistema </h2>
          </div>
    
          <div class = "row">
            <div class = "col-md-12">
              <div class = "portlet">  
                <ol class = "breadcrumb">
                  <li class = ""> Aqui ficarão as boas vindas do sistema talvez data </li>
                </ol>
              </div>
            </div>
          </div>
    
        </div> <!-- /.content-container -->
      </div> <!-- /.content -->
    </div> <!-- /.container -->
    
    <footer class = "footer"></footer>
  </body>
</html>